
.firstOne {
  display: flex;
  max-height: 280px;
  max-width: 300px;
}

.secondOne {
  display: flex;
  max-height: 280px;
  max-width: 300px;

}

.thirdOne {
  display: flex;
  max-height: 280px;
  max-width: 300px;
  background: red;
}
.imgDiv {
  display: flex;
  border: 2px solid black;
  height: 300px;
  align-content: space-around;
  flex-direction: row;
  align-items: center ;
  border: 2px solid black;
}
